.modalWrapper {
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-items: center;

}

.modal {
	padding: 5rem;
	background-color: ghostwhite;
	border-radius: .1rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form input {
	margin-bottom: 1rem;
	font-size: 125%;
}

.form button {
	font-size: 120%;
    margin-top: 1rem;
    padding:.5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: lightblue;
}