.modalWrapper {
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-items: center;
	z-index: 5;
}

.img {
	max-width: 70vw;
	max-height: 100vh;
}